.body{
    
}

form{
    background-color: #99CCFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.fieldset{
    width: 25%;
}

.form_item {
    display: block;
}

@media screen and (max-width:768px){
    form{
        background-color:red;  } 

@media screen and (max-width:414px){
form{
    background-color: white;  } 
}

